$font-head: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

/* color */
$main_background: hsl(218, 28%, 13%);
$footer_background: hsl(216, 53%, 9%);
$testimonial_background: hsl(219, 30%, 18%);
$other_background: hsl(217, 28%, 15%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);
$White: hsl(0, 0%, 100%);

/* widths */
$vp_movil: 475px;
$vp_tablet: 768px;
$vp_desktop: 1024px;
$vp_desktop_l:1440px;